pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.1em
}
code.hljs {
  padding: 1px 3px
}
/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #c9d1d9;
  background: #170d0d04
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
  
}

.node text {
    fill: #f9f0fc !important; /* Branco acinzentado do GitHub Dark */
}

.edgeLabel text {
    fill: #9761ef !important; /* Azulzão para labels de arestas */
}

.cluster text {
    fill: #8f6ce0 !important; /* Vermelho/rosa para texto de clusters */
}

/* Estilos adicionais para os nós, se quiser forçar cores específicas */
.node rect, .node circle, .node polygon {
    fill: #382f3d !important; /* Fundo dos nós */
    stroke: #8a13b9 !important; /* Borda dos nós */
}

.edgePath .path {
    stroke: #8c3fb9d3 !important; /* Linhas das arestas */
}

.arrowheadPath {
    fill: #690d85 !important; /* Pontas das setas */
}

.zoom-in {
    background-color: #372f3d;
    border: none;
    border-radius: 3px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.zoom-out {
    background-color: #372f3d;
    border: none;
    border-radius: 3px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.reset {
    background-color: #372f3d;
    border: none;
    border-radius: 3px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}